<ion-view title="Login" id="page2">
    <ion-content padding="true" class="has-header">
        <div class="spacer" style="height: 100px;"></div>
        <form id="login-form1" class="list">
            <h id="login-heading2" style="color:#000000;">Email/Name</h>
            <label class="item item-input" id="login-input2" name="email_number">
                <input type="text" placeholder="">
            </label>
        </form>
        <h id="login-heading3" style="color:#000000;">Password</h>
        <form id="login-form7" class="list">
            <label class="item item-input" id="login-input6" name="password">
                <input type="password" placeholder="">
            </label>
        </form>
        <a ui-sref="page" id="login-button1" class="button button-stable  button-block">Sign In</a>
        <a ui-sref="signup" id="login-button2" class="button button-positive  button-block button-clear">Or create an account</a>
    </ion-content>
</ion-view>