<ion-view title="Signup" id="page4">
    <ion-content padding="true" class="has-header">
        <form id="signup-form8" class="list">
            <h id="signup-heading7" style="color:#000000;">First Name</h>
            <label class="item item-input" id="signup-input7" name="firstname">
                <input type="text" placeholder="">
            </label>
            <h id="signup-heading8" style="color:#000000;">Last Name</h>
            <label class="item item-input" id="signup-input8">
                <input type="text" placeholder="">
            </label>
            <h id="signup-heading9" style="color:#000000;">Email Address</h>
            <label class="item item-input" id="signup-input9">
                <input type="text" placeholder="">
            </label>
            <h id="signup-heading11" style="color:#000000;">Password</h>
            <label class="item item-input" id="signup-input10">
                <input type="text" placeholder="">
            </label>
            <h id="signup-heading10" style="color:#000000;">Confirm Password</h>
            <label class="item item-input" id="signup-input11">
                <input type="text" placeholder="">
            </label>
            <button id="signup-button5" class="button button-positive  button-block">Submit</button>
        </form>
    </ion-content>
</ion-view>