<ion-view title="Welcome" id="page5">
    <ion-content padding="true" class="has-header">
        <div class="spacer" style="height: 100px;"></div>
        <form id="welcome-form9" class="list">
            <h id="welcome-heading12" style="color:#000000;">Registered Users</h>
            <a ui-sref="login" id="welcome-button8" class="button button-positive  button-block">Sign In</a>
            <h id="welcome-heading13" style="color:#000000;">Dont have an account?</h>
            <a ui-sref="signup" id="welcome-button15" class="button button-positive  button-block">Sign Up</a>
            <div class="spacer" style="height: 40px;"></div>
        </form>
    </ion-content>
</ion-view>